*
{
  margin: 0%;
  padding: 0%;
}

header
{
  margin-top: 5%;
  background-color: #76706b;
  padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

ul li a
{
	text-decoration: none;
	color: #ffffff;
  width: 30%;
  font-family: 'Monda', sans-serif;
  font-size: 2em;
  font-style:normal;
}

ul li
{
  display: inline;
  background-color: #76706B;
  padding-top: 2%;
	padding-bottom: 2%;
	padding-left: 10%;
	padding-right: 10%;
}

.bot
{
  text-align: center;
  width: 100%;
}

div
{
  font-family: 'Karla', sans-serif;
  font-style: normal;
}

.tit
{
  font-size: 8em;

}
